<style>

/* LAYOUT */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400i');

/* CURSOR TRY-OUT */

.noIbar {
cursor: default;
}


/* BODY */

body {
    background-color: white;
    cursor: hand; /* Changing what 'hand' is equal to*/
}


header { 
    display: block;
    border-style: solid;
    border-color: white;
    margin: 0px 0px 0px 0px;
}

  .left{float:left; width:20%;
  font-family: verdana;
    font-size: 7px;
    letter-spacing: 2px;
    height: 100%;
    text-align: center;
  
  }
  
  .middle{float:left; width:48%;
  height: 100%;
  /* border-style: solid;
    border-color: blue; */
  }
  

  .right{float:left; width:15%;
  font-family: verdana;
    font-size: 7px;
    letter-spacing: 2px;
    text-align: center;
   /* border-style: solid;
    border-color: blue; */
    }
    
    /* ANIMATIE TEKST */


h1 {
    color: blue;
    font-family: 'Vollkorn', serif;
    font-style: 400;
    font-size: 320px;
    position:relative;
    left: 270px;
    
    margin-bottom: -20px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom:0px;
}

div.subtekst {
padding-top: 10px;
}


div.koptitel {
	font-family: 'Vollkorn', serif;
	font-weight: 300;
    font-size: 34px;
    letter-spacing: 0px;
    color: blue;
    position: absolute;
    left: 140px;
        -webkit-transform:rotate(-90deg);
        transform: rotate(-90deg);
}

div.koptitel1 {
	font-family: 'Vollkorn', serif;
	font-weight: 300;
    font-size: 34px;
    letter-spacing: 0px;
    color: blue;
    position: absolute;
    left: 90px;
        -webkit-transform:rotate(-90deg);
        transform: rotate(-90deg);
}


div.koptitel2 {
	font-family: 'Vollkorn', serif;
	font-weight: 300;
    font-size: 34px;
    letter-spacing: 0px;
    color: blue;
    position: absolute;
    left: 130px;
        -webkit-transform:rotate(-90deg);
        transform: rotate(-90deg);
}

div.koptitel3 {
	font-family: 'Vollkorn', serif;
	font-weight: 300;
    font-size: 34px;
    letter-spacing: 0px;
    color: blue;
    position: absolute;
    left: 130px;
        -webkit-transform:rotate(-90deg);
        transform: rotate(-90deg);
}

div.koptitel4 {
	font-family: 'Vollkorn', serif;
	font-weight: 300;
    font-size: 34px;
    letter-spacing: 0px;
    color: blue;
    position: absolute;
    left: 230px;
        -webkit-transform:rotate(-90deg);
        transform: rotate(-90deg);
}

div.koptitel5 {
	font-family: 'Vollkorn', serif;
	font-weight: 300;
    font-size: 34px;
    letter-spacing: 0px;
    color: blue;
    left: 90px;
    padding-top: 50px;
}

div.koptitel6 {
	font-family: 'Vollkorn', serif;
	font-weight: 300;
    font-size: 34px;
    letter-spacing: 0px;
    color: blue;
    position: absolute;
    left: 230px;
        -webkit-transform:rotate(-90deg);
        transform: rotate(-90deg);
}


div.subtekst {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 35px;
    padding-top: 100px;
    
}

/* Link 1 - Voor Menu */

a {
    color: black;
    text-decoration: none;
    font-family:  'Open Sans', sans-serif;
    font-size: 10px;
    letter-spacing: 0px
}

a:hover {
    color: blue;
    cursor: cell;
 }
}

/* Link 2 - Voor Voetnoot URL's */

a.one:link {
	color:black;
	font-family: 'Open Sans', sans-serif;
    font-size: 10px;
	}
	
	
a.one:visited {
color:blue;
}

a.one:hover {
color:blue;
cursor: cell;
}


div.gegevens {
color: black;
    font-family:  'Open Sans', sans-serif;
    font-size: 10px;
    letter-spacing: 0px;
    margin: 20px 90px 0px 25px; /* Top, Right, Bottom, Left */
    position: absolute;

}


div.figuur {
	color: blue;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

div.titels {
	color: blue;
    font-family: verdana;
    font-size: 15px;
    text-align: left;
    margin: 200px 0px 0px 0px; /* Top, Right, Bottom, Left */
}

/* MENU */

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

/* define a fixed width for the entire menu */
.navigation {
  width: 400px;
  position: fixed;
    top: 50px;
    left: 30px;
}


/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  text-decoration: none;
  padding: 5px;
  color: #blue;
}

/* add hover behaviour */
.mainmenu a:hover {
   
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 100px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  text-decoration: underline;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

/* MENU EIND */


/* CONTENT TEKST */

div.inleiding {
    border: 0px solid blue;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;
    padding-bottom: 100px;
    margin-top: 5px;

}

div.hoofdstuk1 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;

}

div.hoofdstuk2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;

}

div.hoofdstuk2-1 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;

}

div.hoofdstuk2-2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;

}

div.hoofdstuk2-3 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;


}

div.hoofdstuk2-4 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;

}


div.hoofdstuk3 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;

}

div.hoofdstuk3-1 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;
   

}

div.hoofdstuk3-2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;

}

div.hoofdstuk3-3 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;

}

div.conclusie {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;

}

div.bronnen {
   background-color: #FFFFFF;
   height: 300px;
   overflow: scroll;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    border: 1px solid blue;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-top: 20px;

}

div.abstract {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 50px;
    padding-bottom: 100px;

}


/*
div.dankwoord {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    border: 1px solid blue;
}


/*  Alle afbeeldingen uit tekst naar links */

/* .middle figure {
	position: absolute;
	left: 60px;
}

/* in een blok zetten, en dan de positie in z'n geheel op absolute, of voor de tekst/caption */

 .middle figcaption {
	font-family:  'Open Sans', sans-serif;
    font-size: 10px;
    letter-spacing: 0px;
    position: absolute;
        opacity: 1;
}

.middle div.voetnoot {
	position: absolute;
	left: 1150px;
	font-family:  'Open Sans', sans-serif;
    font-size: 10px;
    letter-spacing: 0px;
    margin-right: 90px;
    padding-right: 0px;
}

/* img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    cursor: crosshair;
}

 figuur1.voorgrond img {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    cursor: crosshair;
}

*/

/* START AFBEELDINGEN HOOFDSTUK 3 */

figure img {
    opacity: 0.95;
    cursor: crosshair;
}

figure.voorgrond img{
	 -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    cursor: crosshair;
           -webkit-transform:rotate(0deg);
    transform: rotate(0deg);
}

figure img {
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    cursor: crosshair;
       -webkit-transform:rotate(0deg);
    transform: rotate(0deg);
}


/* FIGUUR X WITBLOK */

#figuurx {
	opacity: 0.1;
}

/* FIGUUR 1 DA VINCI */

#figuur1.voorgrond {
	left: 1020px;
	position: absolute;
	       -webkit-transform:rotate(0deg);
    transform: rotate(0deg);
	
}

#figuur1.voorgrond img{
	width: 140px;
	height: 180px;

}

#figuur1  {
 	left: 350px;
	position: absolute;
	   -webkit-transform:rotate(-30deg);
    transform: rotate(-30deg);
	
}

#figuur1 img {
    width: 400px;
    height: 560px; 

}

/* FIGUUR 2 PICASSO */

#figuur2.voorgrond {
	left: 1020px;
	position: absolute;
	       -webkit-transform:rotate(0deg);
    transform: rotate(0deg);
	
}

#figuur2.voorgrond img{
	width: 140px;
	height: 180px;

}

#figuur2  {
 	left: 550px;
	position: absolute;
	   -webkit-transform:rotate(20deg);
    transform: rotate(20deg);
	
}

#figuur2 img {
    width: 250px;
    height: 380px; 


}

/* FIGUUR 3 HAUSMANN */

#figuur3.voorgrond {
	left: 1020px;
	position: absolute;
	       -webkit-transform:rotate(0deg);
    transform: rotate(0deg);
	
}

#figuur3.voorgrond img{
	width: 140px;
	height: 180px;

}

#figuur3  {
 	left: 250px;
	position: absolute;
	   -webkit-transform:rotate(-50deg);
    transform: rotate(-50deg);
}

#figuur3 img {
    width: 400px;
    height: 560px; 


}

/* FIGUUR 4 STEPANOVA */

#figuur4.voorgrond {
	left: 60px;
	position: absolute;
	       -webkit-transform:rotate(0deg);
    transform: rotate(0deg);
}

#figuur4.voorgrond img {
	width: 190px;
	height: 130px;

}

#figuur4 {
    left: 500px;
	position: absolute;
	          -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur4 img{
    left: 800px;
	width: 390px;
	height: 300px;
    opacity: 0.8;
 
}

/* FIGUUR 5 SCHUITEMA1 */

#figuur5.voorgrond {
	left: 60px;
	position: absolute;
		 -webkit-transform:rotate(0deg);
    transform: rotate(0deg);
}

#figuur5.voorgrond img {
	width: 190px;
	height: 130px;

}

#figuur5 {
	left: 600px;
	position: absolute;
		-webkit-transform:rotate(50deg);
        transform: rotate(50deg);
}

#figuur5 img {
	width: 310px;
	height: 250px;

}

/* FIGUUR 6 SCHUITEMA2 */

#figuur6.voorgrond {
	left: 1020px;
	position: absolute;
		 	-webkit-transform:rotate(0deg);
    transform: rotate(0deg);
}

#figuur6.voorgrond img{
	width:200px;
	height:140px;

}

#figuur6 {
    left: 100px;
    position: absolute;  
        -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);

}

#figuur6 img {
	width: 400px;
    height:280px;

}

/* FIGUUR 7 SCHUITEMA3 */

#figuur7.voorgrond {
	left: 80px;
	position: absolute
	    -webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur7.voorgrond img{
	width: 140px;
	height: 180px;
}

#figuur7 {
    left: 700px;
	position: absolute;
	           -webkit-transform:rotate(-40deg);
        transform: rotate(-40deg);
}

#figuur7 img {
	width: 280px;
    height:360px;
}

/* FIGUUR 8 SCHUITEMA4 */

#figuur8.voorgrond {
	left: 1020px;
	position: absolute;
		 -webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur8.voorgrond img {
	width: 200px;
	height: 140px;

}

#figuur8 {
    left: 890px;
	position: absolute;
           -webkit-transform:rotate(10deg);
        transform: rotate(10deg);
}

#figuur8 img{
	width: 390px;
	height: 280px;
}

/* FIGUUR 9 PIET ZWART1 */

#figuur9.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur9.voorgrond img {
	width: 140px;
	height: 180px;
}

#figuur9 {
    left: 190px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur9 img{
	width: 240px;
	height: 300px;
}

/* FIGUUR 10 PIET ZWART2 */

#figuur10.voorgrond {
	left: 80px;
	position: absolute;
			-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur10.voorgrond img {
	width: 140px;
	height: 180px;
}

#figuur10 {
    left: 750px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur10 img{
	width: 250px;
	height: 360px;
}

/* FIGUUR 11 PIET ZWART3 */

#figuur11.voorgrond {
	left: 80px;
	position: absolute;
				-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur11.voorgrond img{
	width: 140px;
	height: 180px;
}

#figuur11 {
    left: 390px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur11 img{
	width: 380px;
	height: 490px;
}

/* FIGUUR 12 PIET ZWART4 */

#figuur12.voorgrond {
	left: 1020px;
	position: absolute;
					-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur12.voorgrond img {
	width: 140px;
	height: 180px;
}

#figuur12 {
    left: 190px;
           -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);
        position: absolute;
}

#figuur12 img {
	width: 300px;
	height: 410px;
}

/* FIGUUR 12.1 PIET ZWART4 */

#figuur12-1.voorgrond {
	left: 1020px;
	position: absolute;
					-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur12-1.voorgrond img {
	width: 140px;
	height: 180px;
}

#figuur12-1 {
    left: 840px;
           -webkit-transform:rotate(-30deg);
        transform: rotate(-30deg);
        position: absolute;
}

#figuur12-1 img {
	width: 300px;
	height: 410px;
}


/* FIGUUR 13 PIET ZWART5 */

#figuur13.voorgrond {
	left: 60px;
	position: absolute;
						-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur13.voorgrond img {
	width: 180px;
	height: 140px;
}

#figuur13 {
    left: 790px;
	position: absolute;
           -webkit-transform:rotate(-10deg);
        transform: rotate(-10deg);

}

#figuur13 img {
	width: 260px;
	height: 180px;
}

/* FIGUUR 14 BROCKMANN1 */

#figuur14.voorgrond {
	left: 80px;
	position: absolute;
	-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur14.voorgrond img {
	width: 150px;
	height: 210px;

}

#figuur14 {
    left: 590px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}
#figuur14 img {
	width: 230px;
	height: 320px;
}

/* FIGUUR 15 BROCKMANN2 */


#figuur15.voorgrond {
	left: 1020px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur15.voorgrond img {
	width: 150px;
	height: 210px;
}

#figuur15 {
    left: 890px;
	position: absolute;
           -webkit-transform:rotate(75deg);
        transform: rotate(75deg);
}

#figuur15 img {
	width: 290px;
	height: 400px;
}

/* FIGUUR 16 BAUMGARTNER1 */

#figuur16.voorgrond {
	left: 1020px;
	position: absolute;
			-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur16.voorgrond img {
	width: 180px;
	height: 120px;
}

#figuur16 {
    left: 40px;
	position: absolute;
           -webkit-transform:rotate(-10deg);
        transform: rotate(-10deg);
}

#figuur16 img {
	width: 320px;
	height: 200px;
}

/* FIGUUR 17 BAUMGARTNER2 */

#figuur17.voorgrond {
	left: 50px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur17.voorgrond img {
	width: 180px;
	height: 120px;

}

#figuur17 {
    left: 240px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur17 img {
	width: 300px;
	height: 200px;
}

/* FIGUUR 18 BAUMGARTNER3 */

#figuur18.voorgrond {
	left: 1020px;
	position: absolute;
			-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur18.voorgrond img {
	width: 180px;
	height: 120px;
}

#figuur18 {
    left: 640px;
           -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);
        	position: absolute;
}

#figuur18 img {
	width: 350px;
	height: 200px;
}

/* FIGUUR 19 BAUMGARTNER4 */

#figuur19.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur19.voorgrond img {
	width: 150px;
	height: 220px;
}

#figuur19 {
    left: 840px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur19 img {
	width: 300px;
	height: 440px;
}

/* START AFBEELDINGEN HOOFDSTUK 3 */

/* FIGUUR 20 FLORENT PORZA1 */

#figuur20.voorgrond {
	left: 1020px;
	position: absolute;
			-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur20.voorgrond img {
	width: 180px;
	height: 120px;
}

#figuur20 {
    left: 240px;
	position: absolute;
           -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);
}

#figuur20 img {
	width: 400px;
	height: 280px;
}

/* FIGUUR 21 FLORENT PORZA2 */

#figuur21.voorgrond {
	left: 1020px;
	position: absolute;
				-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur21.voorgrond img {
	width: 180px;
	height: 150px;
}

#figuur21 {
    left: 440px;
	padding-left: 0px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur21 img {
	width: 380px;
	height: 280px;
}

/* FIGUUR 22 SARAH1 */

#figuur22.voorgrond {
	left: 80px;
	position: absolute;
					-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur22.voorgrond img {
	width: 150px;
	height: 200px;
}

#figuur22 {
    left: 240px;
	position: absolute;
           -webkit-transform:rotate(10deg);
        transform: rotate(10deg);
}

#figuur22 img {
	width: 280px;
	height: 390px;
}

/* FIGUUR 23 SARAH2 */

#figuur23.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur23.voorgrond img {
	width: 150px;
	height:200px;
}

#figuur23 {
    left: 140px;
	position: absolute;
        -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);
}

#figuur23 img {
	width: 240px;
	height: 300px;
}

/* FIGUUR 24 SARAH3 */

#figuur24.voorgrond {
	left: 1020px;
	position: absolute;
			-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur24.voorgrond img {
	width: 150px;
	height:200px;
}

#figuur24 {
    left: 700px;
	padding-left: 0px;
	position: absolute;
           -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);
}

#figuur24 img {
	width: 400px;
	height: 500px;
}

/* FIGUUR 25 SARAH3 */

#figuur25.voorgrond {
	left: 1020px;
	position: absolute;
				-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur25.voorgrond img {
	width: 180px;
	height:120px;

}

#figuur25 {
    left: 640px;
	position: absolute;
           -webkit-transform:rotate(30deg);
        transform: rotate(30deg);
}

#figuur25 img {
	width: 500px;
	height: 360px;
}


/* FIGUUR 26 ANTON CORBIJN */

#figuur26.voorgrond {
	left: 1020px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur26.voorgrond img {
	width: 130px;
	height:210px;
}

#figuur26 {
    left: 240px;
	position: absolute;
           -webkit-transform:rotate(50deg);
        transform: rotate(50deg);
}

#figuur26 img {
	width: 200px;
	height: 340px;
}


/* FIGUUR 27  EVA1 */

#figuur27.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur27.voorgrond img {
	width: 180px;
	height:120px;
}

#figuur27 {
    left: 590px;
	position: absolute;
           -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);
}

#figuur27 img {
	width: 400px;
	height: 280px;
}

/*FIGUUR 25 EVA2 */

#figuur28.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur28.voorgrond img{
	width: 160px;
	height:120px;
}

#figuur28 {
    left: 240px;
	position: absolute;
           -webkit-transform:rotate(-40deg);
        transform: rotate(-40deg);
}

#figuur28 img {
	width: 400px;
	height: 200px;
}

/* FIGUUR 29 EVA3 */

#figuur29.voorgrond {
	left: 1020px;
	position: absolute;
			-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur29.voorgrond img {
	width: 180px;
	height:120px;
}

#figuur29 {
    left: 840px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur29 img {
	width: 400px;
	height: 240px;
}

/* FIGUUR 30 DAUBAL */

#figuur30.voorgrond {
	left: 1020px;
	position: absolute;
			-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur30.voorgrond img {
	width: 120px;
	height:180px;
}

#figuur30 {
    left: 140px;
	position: absolute;
           -webkit-transform:rotate(10deg);
        transform: rotate(10deg);
}

#figuur30 img {
	width: 170px;
	height: 240px;
}


/* FIGUUR 31 JAAP1 */

#figuur31.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur31.voorgrond img{
	width: 120px;
	height:180px;
}

#figuur31 {
    left: 440px;
	position: absolute;
           -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);
}

#figuur31 img {
	width: 400px;
	height: 480px;
}

/* FIGUUR 32 JAAP2 */

#figuur32.voorgrond {
	left: 1020px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur32.voorgrond img {
	width: 180px;
	height:120px;
}

#figuur32 {
    left: 740px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur32 img {
	width: 340px;
	height: 270px;
}

/* FIGUUR 33 ERIK1 */

#figuur33.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur33.voorgrond img {
	width: 180px;
	height:120px;
}

#figuur33 {
    left: 90px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur33 img {
	width: 180px;
	height: 120px;
}

/* FIGUUR 34 ERIK2 */

#figuur34.voorgrond {
	left: 1020px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur34.voorgrond img{
	width: 180px;
	height:120px;
}

#figuur34 {
    left: 240px;
	position: absolute;
           -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);
}

#figuur34 img {
	width: 200px;
	height: 160px;
}


/* FIGUUR 35 KESSELS */

#figuur35.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur35.voorgrond img{
	width: 140px;
	height:110px;
}

#figuur35 {
    left: 340px;
	position: absolute;
           -webkit-transform:rotate(-10deg);
        transform: rotate(-10deg);
}

#figuur35 img {
	width: 400px;
	height: 320px;
}

/* FIGUUR 36 REITSMA1 */

#figuur36.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur36.voorgrond img {
	width: 120px;
	height:180px;
}

#figuur36 {
    left: 840px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur36 img {
	width: 250px;
	height: 340px;
}

/* FIGUUR 37 REITSMA2 */

#figuur37.voorgrond {
	left: 1020px;
	position: absolute;
			-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur37.voorgrond img {
	width: 120px;
	height:180px;
}

#figuur37 {
    left: 440px;
	position: absolute;
           -webkit-transform:rotate(-30deg);
        transform: rotate(-30deg);
}

#figuur37 img {
	width: 220px;
	height: 300px;
}

/* FIGUUR 38 REITSMA3 */

#figuur38.voorgrond {
	left: 1020px;
	position: absolute;	
			-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur38.voorgrond img {
	width: 120px;
	height:180px;
}

#figuur38 {
    left: 280px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur38 img {
	width: 180px;
	height: 260px;
}



/* FIGUUR 39 KLEINER */

#figuur39.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur39.voorgrond img {
	width: 180px;
	height:120px;
}

#figuur39 {
    left: 1040px;
	position: absolute;
           -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);
}

#figuur39 img {
	width: 260px;
	height: 200px;
}

/* FIGUUR 40 LENERT & SANDER */

#figuur40.voorgrond {
	left: 1020px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur40.voorgrond img {
	width: 200px;
	height: 170px;
}

#figuur40 {
    left: 820px;
	position: absolute;
           -webkit-transform:rotate(30deg);
        transform: rotate(30deg);
}

#figuur40 img {
	width: 350px;
	height: 280px;
}

/* FIGUUR 41 SIMON */

#figuur41.voorgrond {
	left: 80px;
	position: absolute;
		-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur41.voorgrond img {
	width: 120px;
	height:180px;
}

#figuur41 {
    left: 690px;
	position: absolute;
           -webkit-transform:rotate(-20deg);
        transform: rotate(-20deg);
}

#figuur41 img {
	width: 250px;
	height: 340px;
}

/* FIGUUR 42 ROBERT */

#figuur42.voorgrond {
	left: 100px;
	position: absolute;
			-webkit-transform:rotate(0deg);
        transform: rotate(0deg);
}

#figuur42.voorgrond img {
	width: 140px;
	height:90px;
}

#figuur42 {
    left: 40px;
	position: absolute;
           -webkit-transform:rotate(20deg);
        transform: rotate(20deg);
}

#figuur42 img {
	width: 320px;
	height: 240px;
}

/*EINDE AFBEELDINGEN*/

#backtotop{
padding:10px;
text-align:center;
color:hotpink;
}

#backtotop a{
color:blue;
}

#backtotop a:hover{
color:hotpink;
}


/* TRYOUT CIRKELS

rail, dot {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 70%;
}
rail {
  animation: rail 7s ease-in-out infinite;
  position: absolute;
  top: 20%;
  left: 70%;
  margin: -50px;
}
dot {
  color:blue;
  border: 10px solid;
  animation: dot 6s ease-in-out infinite;
  background-color: rgba(255,255,255,.1);
  transition: all 1s cubic-bezier(.5, 0, .5, 1.5);
}

rail:first-child dot {
  color: blue;
  animation-delay: 2.2s;
  animation-duration: 6.3s;
}
rail:last-child dot {
  color: blue;
  animation-delay: 3.7s;
  animation-duration: 7.3s;
}
rail:first-child {
  animation-delay: 2.4s;
  animation-duration: 6.7s;
}
rail:last-child {
  animation-delay: 4.3s;
  animation-duration: 5s;
}

/* flicker {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  opacity: .2;
  animation: flickr 46s ease infinite;
}



@keyframes rail {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes dot {
  25% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(50%);
  }
}

@keyframes flickr {
  40% {
    opacity: .04;
  }
  57% {
    opacity: .06;
  }
  83% {
    opacity: .3;
  }
}

 */

/* BUTTON ONDERAAN OM NAAR TOP TE GAAN */

.buttons-coll {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.btn-4 {
  width: 170px;
  height: 60px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #ffffff;
}
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-4:before, .btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: white;
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 50%;
  width: 2px;
}
.btn-4:after {
  width: 20%;
  height: 2px;
}
.btn-4:hover:before {height: 100%;}
.btn-4:hover:after {width: 100%;}
.btn-4 span:before, .btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: blue;
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: 2px;
  height: 50%;
}
.btn-4 span:after {
  width: 20%;
  height: 2px;
}
.btn-4 span:hover:before {height: 100%;}
.btn-4 span:hover:after {width: 100%;}

/* PRINT KNOP EN DOWNLOAD KNOP */

.btn-1 {border: 1px solid blue;}
.btn-1:hover {
  background: none;
  color: #ffffff;
}
.btn-1:active {top: 2px;}

.custom-btn {
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}




</style>
