
@media print {

   img {
    display: none !important;
  }
 
 figcaption {
    display: none !important;
  }
  
  ul {
    display: none !important;
  }
  
      .left {
    display: none !important;
  }
  
     a {
    display: none !important;
  }
  
  .custom-btn btn-1 {
display: none !important;
}

.buttons-coll {
display: none !important;
}

.rail, dot {
display: none !important;
}

.dot {
display: none !important;
}

  
      .middle {
    float: none !important;
    width: none !important;
    margin-left: 60px;
  }
  
  .middle div.voetnoot {
  left: 650px;
  margin-right: 80px;
  }
  
  div.bronnen {
  left: 900px;
  }
  
    div.middle {
  width: 65%;
  }

	div.bronnen {
	height: auto;
	border: none;
	font-size: 15px;
	
}
  
 /* VOORPAGINA TITEL GROTER */ 
  
 h1 {
-webkit-transform:rotate(90deg);
    transform: rotate(90deg);
    font-size: 400px;
    height: auto;
    margin-top: -40px;
    
    
  }
  
  div.slide-up  {
  padding: 100px;
  margin-top: 200px;
     height:1000px;
  }
  
    div.gegevens  {
   margin: 20px 90px 10px 35px;
   font-size: 32px;
   font-family: 'Vollkorn', serif;
   font-weight: 400;
  }
  
  /* FORCEREN OM EEN PAGINA AF TE BREKEN BIJ KOPTITELS */
  
  @media print {
    .subtekst {page-break-before: always;}
    div.hoofdstuk2-2 {page-break-before: always;}
    div.hoofdstuk2-3 {page-break-before: always;}
    div.hoofdstuk2-4 {page-break-before: always;}
    div.hoofdstuk3-2 {page-break-before: always;}
    div.hoofdstuk3-3 {page-break-before: always;}
    div.hoofdstuk3-4 {page-break-before: always;}
    .koptitel5 {page-break-before: always;}
    div.dankwoord {page-break-before: always;}
    .navigation {page-break-before: always;}

  
}

.noIbar {
cursor: default;
}

/* TEKST GROTER MAKEN BIJ PRINTEN */

div.inleiding {
	font-size: 15px;
}

div.hoofdstuk1 {
	font-size: 15px;
}

div.hoofdstuk2 {
	font-size: 15px;
}

div.hoofdstuk2-1 {
	font-size: 15px;
}

div.hoofdstuk2-2 {
	font-size: 15px;
}

div.hoofdstuk2-3 {
	font-size: 15px;
}

div.hoofdstuk2-4 {
	font-size: 15px;
}

div.hoofdstuk3 {
	font-size: 15px;
}

div.hoofdstuk3-1 {
	font-size: 15px;
}

div.hoofdstuk3-2 {
	font-size: 15px;
}

div.hoofdstuk3-3 {
	font-size: 15px;
}

div.hoofdstuk3-4 {
	font-size: 15px;
}

div.conclusie {
	font-size: 15px;
}

div.subtekst {
	font-size: 18px;
	padding-top: 3px;
}

/* POSITIE VAN TITELS VOOR PRINT */

div.koptitel {
	left: -100px;
}

div.koptitel1 {
	left: -150px;
}

div.koptitel2 {
	left: -120px;
}

div.koptitel3 {
	left: -120px;
}

div.koptitel4 {
	left: 0px;
}

div.koptitel5 {
	left: 0px;
}

div.koptitel6 {
	left: -30px;
}

div.koptitel7 {
	left: 0px;
}




/* PRINT BLACK AND WHITE */

@media print {
  body {
    /* IE4-8 and 9 (deprecated). */
    filter: Gray();
    /* SVG version for IE10, Chrome 17, FF3.5, 
       Safari 5.2 and Opera 11.6 */
    filter: url('#grayscale'); 
    /* CSS3 filter, at the moment Webkit only. Prefix it for
       future implementations */
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); /* future-proof */
  }
  * {
  	color: black !important;
  }
}

/* @page {
  margin-top: 2cm;
  margin-bottom: 0cm;
  margin-left: 0cm;
  margin-right: 0cm;  
} */

@page { margin:0; }
